body,
html {
  margin: 0;
  padding: 0;
  font-family: courier, monospace;
  color: #222;
  background-color: #e1ffd3;
}
label[for='hasJQuery'] {
  float: right;
  margin: 0;
}
#hasJQuery {
  width: auto;
  height: 14px;
  float: right;
  margin: 1px 4px;
}
#container {
  width: 800px;
  margin: 0 auto;
}
label {
  display: block;
  margin: 16px 0 0 0;
}
textarea {
  width: 97%;
  height: 330px;
  padding: 12px 0 12px 12px;
  margin: 4px 0 0 0;
}
input {
  width: 600px;
  height: 25px;
}
input[type="submit"] {
  width: 180px;
  cursor: pointer;
}
small {
  margin-top: 25px;
  display: block;
}
#a-holder {
  height: 17px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f0fbe1;
  text-align: center;
}
#a-holder a {
  cursor: move;
}
